<div class="dashboard-container">
  <h1>Dashboard</h1>
  <div class="card-container">
    <mat-card class="status-card">
      <mat-card-header>
        <mat-card-title>API Status</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <p><mat-icon class="healthy">check_circle</mat-icon>Healthy: {{ apiStatusCounts['Healthy'] }}</p>
        <p><mat-icon class="unhealthy">error</mat-icon>Unhealthy: {{ apiStatusCounts['Unhealthy'] }}</p>
        <p><mat-icon class="unknown">help</mat-icon>Unknown: {{ apiStatusCounts['Unknown'] }}</p>
      </mat-card-content>
    </mat-card>

    <mat-card class="logs-card">
      <mat-card-header>
        <mat-card-title>Recent Test Logs</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <mat-list>
          <mat-list-item *ngFor="let log of recentLogs">
            <mat-icon mat-list-icon>{{ log.httpStatusCode === 200 ? 'check' : 'clear' }}</mat-icon>
            <div mat-line>API ID: {{log.apiItemId}} - Status: {{log.httpStatusCode}}</div>
            <div mat-line> {{log.testTimestamp | date:'short'}} </div>
          </mat-list-item>
        </mat-list>
      </mat-card-content>
    </mat-card>
  </div>
</div>
